* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "Inter-Regular";
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}
input,
textarea,
select {
    font-family: "Inter-Regular";
    font-weight: 500;
}

a {
    color: #000;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Inter-Regular";
    font-weight: 500;
    color: #000;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
        url("../fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
        url("../fonts/Inter-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Black";
    src: url("../fonts/Inter-Black.woff2") format("woff2"),
        url("../fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Thin";
    src: url("../fonts/Inter-Thin.woff2") format("woff2"),
        url("../fonts/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-ExtraLight";
    src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"),
        url("../fonts/Inter-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Medium";
    src: url("../fonts/Inter-Medium.woff2") format("woff2"),
        url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
        url("../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Light";
    src: url("../fonts/Inter-Light.woff2") format("woff2"),
        url("../fonts/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
header {
    /* padding: 30px; */
    padding: 30px 60px 30px 80px;
}
header section.wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
header h1.left {
    width: 12%;
}
header h1.left img {
    width: 100%;
    display: block;
}
header nav.middle {
}
header nav.middle ul {
    display: flex;
}
header nav.middle ul li {
    margin-right: 26px;
}
header nav.middle ul li:last-child {
    margin-right: 0;
}
header nav.middle ul li a {
    font-size: 14px;
    font-weight: 500;
}
header nav.right {
}
header nav.right ul {
    display: flex;
    text-align: center;
    align-items: center;
}
header nav.right ul li {
    margin-right: 16px;
}
header nav.right ul li:last-child {
    background: #fe8e0b;
    border-radius: 9px;
    padding: 8px 5px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav.right ul li img {
    width: 70%;
    display: block;
}
#spotlight {
}
#spotlight section.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spotlight div.left {
    width: 51%;
}
#spotlight div.left div.image_container {
    width: 78%;
}
#spotlight div.left div.image_container img {
    width: 100%;
    display: block;
}
#spotlight div.right {
    width: 51%;
}
#spotlight div.right small {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
}
#spotlight div.right h2 {
    margin-bottom: 24px;
    font-size: 98px;
    width: 65%;
    line-height: 1em;
    font-family: Inria Serif;
}
#spotlight div.right p {
    width: 76%;
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 50px;
    font-family: Inter-Regular;
    font-weight: 500;
}
#spotlight div.right a.button.one {
    background: #fe8e0b;
    padding: 12px 44px;
    border-radius: 12px;
    border-bottom-right-radius: 85px;
    font-size: 12px;
    margin-right: 9px;
    color: #fff;
}
#spotlight div.right a.button.two {
    background: #3a2929;
    padding: 12px 36px;
    border-radius: 12px;
    border-top-left-radius: 122px;
    font-size: 12px;
    color: #fff;
}
#companies {
    padding: 24px;
    background: #dedddc;
}
#companies section.wrapper {
}
#companies ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
#companies ul li {
}
#companies ul li:last-child {
    margin-right: 0;
}
#companies ul li a {
}
#companies ul li a img {
    width: 58%;
    display: block;
}
#about {
    padding: 70px;
}
#about section.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dedddc;
    border-radius: 12px;
}
#about div.left {
    width: 49%;
    padding-top: 120px;
    padding-left: 60px;
    padding-bottom: 120px;
}
#about div.left h2 {
    margin-bottom: 14px;
    font-size: 50px;
    font-weight: 900;
}
#about div.left p.paragraph_one {
    width: 121%;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 500px;
}
#about div.left p.paragraph_two {
    width: 121%;
    font-size: 14px;
    margin-bottom: 22px;
    font-weight: 500px;
}
#about div.left a.button {
    background: black;
    color: #fff;
    padding: 12px 39px;
    font-size: 12px;
    border-radius: 20px;
    border-bottom-right-radius: 130px;
}
#about div.right {
    width: 32%;
}
#about div.right img {
    width: 100%;
    display: block;
}
#products {
}
#products section.wrapper {
}
#products section.container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
#products section.container div.image_container {
    width: 44%;
}
#products section.container div.image_container img {
    width: 100%;
    display: block;
}
#products section.container div.content {
    width: 53%;
}
#products section.container div.content div.top {
    margin-bottom: 106px;
    width: 98%;
}
#products section.container div.content div.top img {
    width: 100%;
    display: block;
}
#products section.container div.content div.bottom {
}
#products section.container div.content div.bottom h1 {
    width: 65%;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
#products section.container div.content div.bottom p.para1 {
    margin-bottom: 20px;
    font-size: 14px;
    width: 100%;
}
#products section.container div.content div.bottom p.para2 {
    font-size: 14px;
    width: 100%;
    margin-bottom: 30px;
}
#products section.container div.content div.bottom a.button {
    background: black;
    color: #fff;
    padding: 12px 42px;
    border-radius: 16px;
    font-size: 12px;
    border-bottom-right-radius: 139px;
}
#products section.container div.content div.bottom.middle {
}
#products section.container div.content div.bottom.middle h1 {
    font-size: 46px;
    width: 44%;
    font-weight: 700;
}
#products section.container div.content div.bottom.middle p.para1 {
}
#products section.container div.content div.bottom.middle p.para2 {
}
#products section.container div.content div.bottom.middle a.button {
}
#products section.container div.content.last {
}
#products section.container div.content.last div.top {
    margin-bottom: 173px;
}
#products section.container div.content.last div.top img {
    width: 100%;
    display: block;
}
#products section.container div.content.last div.bottom {
    padding-left: 100px;
}
#products section.container div.content.last div.bottom h1 {
    width: 100%;
    font-size: 46px;
    font-weight: 800;
}
#products section.container div.content.last div.bottom form {
}
#products
    section.container
    div.content.last
    div.bottom
    form
    input[type="email"] {
    padding: 14px 8px;
    border-radius: 5px;
    background: #dedddc;
    margin-right: 6px;
}
#products section.container div.content.last div.bottom form button {
    padding: 15px 24px;
    background: black;
    color: #fff;
    border-radius: 6px;
}
#blog {
    padding: 80px;
}
#blog section.wrapper {
}
#blog section.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#blog div.top {
}
#blog div.top h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 40px;
}
#blog section.container div.bottom {
}
#blog section.container div.bottom ul {
    display: flex;
}
#blog section.container div.bottom ul li {
    width: 33%;
}
#blog section.container div.bottom ul li div.blog_container {
    width: 90%;
    margin-bottom: 20px;
}
#blog section.container div.bottom ul li div.blog_container img {
    width: 100%;
    height: 212px;
    display: block;
    border-radius: 9px;
}
#blog section.container div.bottom ul li h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
#blog section.container div.bottom ul li p {
    width: 94%;
    font-size: 13px;
    font-weight: 600;
}
footer {
    background: #dedddc;
    padding-top: 80px;
    padding-bottom: 70px;
    /* background-image: url(../images/pexels-scandinavian-biolabs-8478970.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleX(-1); */
}
footer div.image {
    position: relative;
    width: 43%;
}
footer div.image img {
    transform: scaleX(-1);
    width: 44%;
    height: 279px;
    display: block;
    position: absolute;
    top: -209px;
    /* right: 171px; */
    left: 1093px;
}
footer section.wrapper {
}
footer section.container {
    display: flex;
    justify-content: space-between;
}
footer section.container div.left {
    width: 20%;
}
footer section.container div.left div.top {
    text-align: center;
}
footer section.container div.left div.top h3 {
    margin-bottom: 12px;
    font-weight: 600;
}
footer section.container div.left div.top ul {
}
footer section.container div.left div.top ul li {
    margin-bottom: 10px;
}
footer section.container div.left div.top ul li a {
    font-size: 12px;
    font-weight: 500;
}
footer section.container div.left div.social {
}
footer section.container div.left div.social ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer section.container div.left div.social ul li {
    margin-right: 10px;
    padding: 4px 2px;
    justify-content: center;
    background: orange;
    align-items: center;
    border-radius: 6px;
}
footer section.container div.left div.social ul li:last-child {
    margin-right: 0;
}
footer section.container div.left div.social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}
footer section.container div.left div.social ul li a img {
    width: 80%;
    display: block;
}
footer section.container div.right {
    display: flex;
    width: 71%;
}

footer section.container div.right div.item {
    width: 30%;
}
footer section.container div.right div.item:first-child {
    margin-top: 24px;
}
footer section.container div.right div.item:nth-child(2) {
}
footer section.container div.right div.item:last-child {
    margin-top: 24px;
}
footer section.container div.right div.item h3 {
    margin-bottom: 14px;
    font-weight: 600;
}
footer section.container div.right div.item ul {
}
footer section.container div.right div.item ul li {
    margin-bottom: 14px;
}
footer section.container div.right div.item ul li a {
    font-size: 14px;
}
