* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "Inter-Regular";
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}
input,
textarea,
select {
    font-family: "Inter-Regular";
    font-weight: 500;
}

a {
    color: #000;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Inter-Regular";
    font-weight: 500;
    color: #000;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
        url("../fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
        url("../fonts/Inter-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Black";
    src: url("../fonts/Inter-Black.woff2") format("woff2"),
        url("../fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Thin";
    src: url("../fonts/Inter-Thin.woff2") format("woff2"),
        url("../fonts/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-ExtraLight";
    src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"),
        url("../fonts/Inter-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Medium";
    src: url("../fonts/Inter-Medium.woff2") format("woff2"),
        url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
        url("../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Light";
    src: url("../fonts/Inter-Light.woff2") format("woff2"),
        url("../fonts/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
header {
    /* padding: 30px; */
    padding: 30px 60px 30px 80px;
}
header section.wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
header h1.left {
    width: 12%;
    cursor: pointer;
}
header h1.left img {
    width: 100%;
    display: block;
}
header nav.middle {
}
header nav.middle ul {
    display: flex;
}
header nav.middle ul li {
    margin-right: 26px;
}
header nav.middle ul li:last-child {
    margin-right: 0;
}
header nav.middle ul li a {
    font-size: 14px;
    font-weight: 600;
}
header nav.right {
}
header nav.right ul {
    display: flex;
    text-align: center;
    align-items: center;
}
header nav.right ul li {
    margin-right: 16px;
}
header nav.right ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav.right ul li:last-child {
    background: #fe8e0b;
    border-radius: 9px;
    padding: 8px 5px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav.right ul li a img {
    width: 70%;
    display: block;
}
#spotlight {
    padding: 80px 0;
}
#spotlight section.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spotlight section.container div.left {
    width: 51%;
}
#spotlight section.container div.left div.image_container {
    width: 87%;
}
#spotlight section.container div.left div.image_container img {
    width: 100%;
    display: block;
}
#spotlight section.container div.right {
    width: 51%;
}
#spotlight section.container div.right small {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 13px;
}
#spotlight section.container div.right h2 {
    margin-bottom: 18px;
    font-size: 100px;
    width: 72%;
    line-height: 1em;
    font-family: Inria Serif;
}
#spotlight section.container div.right p {
    width: 76%;
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 36px;
    font-family: Inter-Regular;
    font-weight: 600;
}
#spotlight section.container div.right div.spotlight_button {
    /* display: flex;
    align-items: center;
    overflow: hidden;
    -webkit-transform: perspective(300px) rotateX(-25deg);
    transform-origin: 0%; */
}
#spotlight section.container div.right div.spotlight_button a.button_one {
    color: #fff;
    background: #fe8e0b;
    border-radius: 5px;
    padding: 16px 42px;
    margin-right: 18px;
    -webkit-transform: perspective(300px) rotateX(-25deg);
    font-size: 12px;
}
#spotlight section.container div.right div.spotlight_button a.button_two {
    color: #fff;
    background: black;
    border-radius: 5px;
    padding: 16px 36px;
    -webkit-transform: perspective(300px) rotateX(-25deg);
    font-size: 12px;
}
/* #spotlight div.right a.button.one {
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
    -webkit-transform: perspective(300px) rotateX(-25deg);
    transform-origin: 0%;
    color: #fff;
    background: #fe8e0b;
    border-radius: 8px;
    padding: 16px 48px;
    margin-right: 18px;
    font-size: 12px;
}
#spotlight div.right a.button.two {
    border-radius: 8px;
    overflow: hidden;
    -webkit-transform: perspective(300px) rotateX(-25deg);
    transform-origin: 0%;
    color: #fff;
    background: #fe8e0b;
    border-radius: 8px;
    padding: 16px 48px;
    margin-right: 18px;
    font-size: 12px;
} */
#companies {
    padding: 30px;
    background: #dedddc;
}
#companies section.wrapper {
}
#companies ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
#companies ul li {
    margin-right: 64px;
}

#companies ul li:last-child {
    margin-right: 0;
}
#companies ul li a {
    display: inline-block;
}
#companies ul li a span.images_container {
    width: 152px;
    height: 42px;
    display: inline-block;
}
#companies ul li a span.images_container img {
    width: 100%;
    height: 100%;
    display: block;
}
#about {
    padding: 70px 70px 20px 70px;
}
#about section.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dedddc;
    border-radius: 12px;
}
#about div.left {
    width: 58%;
    padding: 110px 0 110px 60px;
}
#about div.left h2 {
    margin-bottom: 14px;
    font-size: 46px;
    font-weight: 900;
}
#about div.left p.paragraph_one {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
}
#about div.left p.paragraph_two {
    font-size: 14px;
    margin-bottom: 22px;
    font-weight: 600;
}
#about div.left div.about_button {
    width: 143px;
    height: 48px;
    background: #000;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-transform: perspective(300px) rotateX(-25deg);
    transform-origin: 0%;
}
#about div.left div.about_button a.button {
    color: #fff;
    font-size: 13px;
}
/* #about div.left a.button {
    background: black;
    color: #fff;
    padding: 12px 39px;
    font-size: 12px;
    border-radius: 12px 15px 125px 15px;
} */
#about div.right {
    width: 33%;
}
#about div.right img {
    width: 100%;
    display: block;
}
#products {
}
#products section.wrapper {
}
#products section.container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
#products section.container div.image_container {
    width: 44%;
}
#products section.container div.image_container img {
    width: 100%;
    display: block;
}
#products section.container div.content {
    width: 53%;
}
#products section.container div.content div.top {
    margin-bottom: 90px;
    width: 98%;
}
#products section.container div.content div.top img {
    width: 100%;
    display: block;
}
#products section.container div.content div.bottom {
}
#products section.container div.content div.bottom h1 {
    width: 71%;
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 20px;
}
#products section.container div.content div.bottom p.para1 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
#products section.container div.content div.bottom p.para2 {
    font-size: 14px;
    width: 100%;
    font-weight: 600;
    margin-bottom: 30px;
}
#products section.container div.content div.button_box {
    width: 143px;
    height: 48px;
    background: #000;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-transform: perspective(300px) rotateX(-25deg);
    transform-origin: 0%;
}
#products section.container div.content div.button_box a.button {
    color: #fff;
    font-size: 12px;
}
/* #products section.container div.content div.bottom a.button {
    background: black;
    color: #fff;
    padding: 12px 42px;
    border-radius: 12px 15px 125px 15px;
    font-size: 12px;
} */
#products section.container div.content div.bottom.middle {
}
#products section.container div.content div.bottom.middle h1 {
    font-size: 46px;
    width: 44%;
    font-weight: 700;
}
#products section.container div.content div.bottom.middle p.para1 {
}
#products section.container div.content div.bottom.middle p.para2 {
}
#products section.container div.content.last {
}
#products section.container div.content.last div.top {
    margin-bottom: 173px;
}
#products section.container div.content.last div.top img {
    width: 100%;
    display: block;
}
#products section.container div.content.last div.bottom {
    padding-left: 100px;
}
#products section.container div.content.last div.bottom h1 {
    width: 100%;
    font-size: 46px;
    font-weight: 800;
}
#products section.container div.content.last div.bottom form {
}
#products
    section.container
    div.content.last
    div.bottom
    form
    input[type="email"] {
    padding: 14px 8px;
    border-radius: 5px;
    background: #dedddc;
    margin-right: 6px;
}
#products section.container div.content.last div.bottom form button {
    padding: 15px 24px;
    background: black;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
#blog {
    padding: 80px;
}
#blog section.wrapper {
}
#blog section.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#blog div.top {
}
#blog div.top h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 40px;
}
#blog section.container div.bottom {
}
#blog section.container div.bottom ul {
    display: flex;
    justify-content: space-between;
}
#blog section.container div.bottom ul li {
    width: 31%;
}
#blog section.container div.bottom ul li div.blog_container {
    width: 100%;
    height: 212px;
    margin-bottom: 20px;
}
#blog section.container div.bottom ul li div.blog_container img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 9px;
}
#blog section.container div.bottom ul li h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
#blog section.container div.bottom ul li p {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}
footer {
    display: flex;
    background: #d9dde0;
    padding-top: 70px;
    /* padding-bottom: 70px; */
}
footer section.wrapper {
}
footer section.container {
    display: flex;
    justify-content: space-between;
}
footer section.container div.left {
    width: 47%;
    margin-top: 50px;
}
footer section.container div.left div.top {
    text-align: center;
}
footer section.container div.left div.top h3 {
    margin-bottom: 12px;
    font-weight: 600;
}
footer section.container div.left div.top ul {
}
footer section.container div.left div.top ul li {
    margin-bottom: 10px;
}
footer section.container div.left div.top ul li a {
    font-size: 12px;
    font-weight: 600;
}
footer section.container div.left div.social {
}
footer section.container div.left div.social ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer section.container div.left div.social ul li {
    margin-right: 10px;
    padding: 4px 2px;
    justify-content: center;
    background: orange;
    align-items: center;
    border-radius: 6px;
}
footer section.container div.left div.social ul li:last-child {
    margin-right: 0;
}
footer section.container div.left div.social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}
footer section.container div.left div.social ul li a img {
    width: 80%;
    display: block;
}
footer section.container div.right {
    display: flex;
    width: 74%;
}

footer section.container div.right div.item {
    width: 30%;
}
footer section.container div.right div.item:first-child {
    margin-top: 50px;
}
footer section.container div.right div.item:nth-child(2) {
    margin-top: 18px;
}
footer section.container div.right div.item:last-child {
    margin-top: 50px;
}
footer section.container div.right div.item h3 {
    margin-bottom: 14px;
    font-weight: 600;
}
footer section.container div.right div.item ul {
}
footer section.container div.right div.item ul li {
    margin-bottom: 14px;
}
footer section.container div.right div.item ul li:nth-child(2) {
}
footer section.container div.right div.item ul li a {
    font-size: 12px;
    font-weight: 600;
}
footer div.image {
    width: 20%;
    transform: scaleX(-1);
    height: 318px;
}
footer div.image img {
    width: 100%;
    height: 100%;
    display: block;
}
@media all and (max-width: 1280px) {
    #spotlight section.container div.right {
        padding-top: 34px;
    }
    #spotlight section.container div.right h2 {
        font-size: 85px;
    }
    #companies ul li a span.images_container {
        width: 110px;
        height: 42px;
    }
    #about div.left {
        width: 49%;
        padding: 43px 0 71px 60px;
    }
    #about div.right {
        width: 38%;
    }
    #products section.container div.image_container {
        width: 50%;
    }
    #products section.container div.content {
        width: 46%;
    }
    #products section.container div.content div.top {
        margin-bottom: 48px;
    }
    #products section.container div.content div.bottom h1 {
        width: 94%;
    }
    #products section.container div.content div.bottom p.para1 {
        margin-bottom: 13px;
    }
    #products section.container div.content div.bottom p.para2 {
        font-size: 14px;
        margin-bottom: 16px;
    }
    #products section.container div.content div.bottom.middle h1 {
        font-size: 44px;
        width: 59%;
    }
    #products section.container div.content.last div.bottom {
        padding-left: 35px;
    }

    #products section.container div.content.last div.bottom h1 {
        width: 100%;
        font-size: 40px;
    }
    #blog div.top h1 {
        font-size: 40px;
    }
    #blog section.container div.bottom ul li {
        width: 31%;
    }
    #blog section.container div.bottom ul li h3 {
        font-size: 20px;
    }
    #blog section.container div.bottom ul li p {
        font-size: 13px;
    }
    #blog section.container div.bottom ul li div.blog_container {
        height: 180px;
    }
    footer div.image {
        width: 24%;
        height: 265px;
    }
}
@media all and (max-width: 1080px) {
    #spotlight section.container div.right {
        padding-top: 50px;
    }
    #spotlight section.container div.right h2 {
        font-size: 72px;
    }
    #companies ul li a span.images_container {
        width: 93px;
        height: 46px;
    }
    #about div.left {
        padding: 18px 0 28px 60px;
    }
    #about div.right {
        width: 40%;
    }
    #products section.container div.image_container {
        width: 50%;
    }
    #products section.container div.content div.top {
        margin-bottom: 40px;
    }
    #products section.container div.content div.bottom h1 {
        width: 94%;
        font-size: 38px;
        margin-bottom: 14px;
    }
    #products section.container div.content div.bottom.middle h1 {
        font-size: 38px;
    }
    #products section.container div.content.last div.bottom {
        padding-left: 14px;
    }
    #products section.container div.content.last div.bottom h1 {
        font-size: 38px;
    }
    #blog section.container div.bottom ul li div.blog_container {
        height: 172px;
    }
}
@media all and (max-width: 980px) {
    header h1.left {
        width: 15%;
    }
    #spotlight section.container div.left div.image_container {
        width: 100%;
    }
    #spotlight section.container div.right {
        padding-top: 100px;
        width: 61%;
    }
    #spotlight section.container div.right small {
        font-size: 12px;
    }
    #spotlight section.container div.right h2 {
        font-size: 60px;
        margin-bottom: 14px;
    }
    #spotlight section.container div.right div.spotlight_button a.button_one {
        padding: 12px 24px;
        margin-right: 12px;
    }
    #spotlight section.container div.right div.spotlight_button a.button_two {
        border-radius: 5px;
        padding: 12px 18px;
    }
    #companies ul li {
        margin-right: 55px;
    }
    #companies ul li a span.images_container {
        width: 71px;
        height: 46px;
    }
    #about div.left {
        width: 50%;
        padding: 14px 0 16px 24px;
    }
    #about div.left h2 {
        margin-bottom: 14px;
        font-size: 40px;
    }
    #about div.left p.paragraph_one {
        margin-bottom: 12px;
        font-size: 14px;
    }
    #about div.left p.paragraph_two {
        font-size: 14px;
        margin-bottom: 13px;
    }

    #about div.right {
        width: 52%;
    }
    #products section.container {
        flex-wrap: wrap;
    }
    #products section.container div.image_container {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    #products section.container div.content {
        width: 100%;
    }
    #products section.container div.content div.top {
        width: 80%;
    }
    #products section.container div.content div.bottom h1 {
        width: 73%;
        font-size: 40px;
    }
    #products section.container div.content div.top {
        width: 80%;
    }
    #products section.container div.content.last div.top {
        margin-bottom: 100px;
    }
    #products section.container div.content.last div.bottom form {
        margin-left: 80px;
    }
    #products section.container div.content.last div.bottom h1 {
        margin-bottom: 26px;
    }
    #blog div.top h1 {
        font-size: 38px;
    }
    #blog section.container div.bottom ul li div.blog_container {
        height: 142px;
    }
    #blog section.container div.bottom ul li h3 {
        font-size: 18px;
    }
    #blog section.container div.bottom ul li p {
        font-size: 12.5px;
    }
    footer div.image {
        width: 24%;
        height: 224px;
    }
}
@media all and (max-width: 768px) {
    header {
        padding: 30px 60px 30px 60px;
    }
    header h1.left {
        width: 16%;
    }
    header nav.middle ul li {
        margin-right: 16px;
    }
    header nav.middle ul li a {
        font-size: 13px;
    }
    #spotlight {
        padding: 0 0 80px;
    }
    #spotlight section.container div.right small {
        font-size: 11px;
    }
    #spotlight section.container div.right p {
        font-size: 13px;
        margin-bottom: 28px;
    }
    #companies ul {
        flex-wrap: wrap;
    }
    #companies ul li a span.images_container {
        width: 100px;
    }
    #about {
        padding: 40px 60px;
    }
    #about section.wrapper {
        display: block;
        background: none;
    }
    #about div.left {
        width: 100%;
        padding: 60px 30px;
    }
    #about div.right img {
        height: 100%;
    }
    #about div.right {
        width: 70%;
        height: 230px;
        margin: 0 auto;
    }
    #products section.container div.image_container {
        width: 70%;
    }
    #products section.container div.content.last div.bottom {
        text-align: center;
    }
    #products section.container div.content div.bottom h1 {
        width: 76%;
    }
    #products section.container div.content.last div.bottom form {
        margin-left: 0;
    }
    #blog section.container div.bottom ul {
        flex-wrap: wrap;
    }
    #blog section.container div.bottom ul li {
        width: 100%;
    }
    #blog section.container div.bottom ul li h3 {
        font-size: 24px;
    }
    #blog section.container div.bottom ul li p {
        font-size: 15px;
        margin-bottom: 48px;
    }
    #blog section.container div.bottom ul li div.blog_container {
        height: 245px;
    }
    footer {
        flex-wrap: wrap;
    }
    footer section.container {
        flex-wrap: wrap;
    }
    footer section.container div.left {
        width: 100%;
    }
    footer section.container div.right {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        margin-top: 24px;
    }
    footer div.image {
        width: 25%;
        margin: 27px auto 0;
        height: 224px;
    }
    footer section.container div.right div.item ul li a {
        font-size: 14px;
    }
    footer section.container div.left div.top ul li a {
        font-size: 14px;
    }
}
@media all and (max-width: 640px) {
    header h1.left {
        width: 28%;
    }
    header nav.middle ul {
        display: none;
    }
    #spotlight {
        padding: 0 71px 72px;
    }
    #spotlight section.container div.left {
        display: none;
    }
    #spotlight section.container div.right small {
        font-size: 12px;
    }
    #spotlight section.container div.right {
        width: 100%;
    }
    #spotlight section.container div.right h2 {
        font-size: 67px;
        width: 82%;
    }
    #spotlight section.container div.right p {
        font-size: 15px;
        width: 100%;
    }
    #spotlight section.container div.right div.spotlight_button a.button_one {
        font-size: 13px;
    }
    #spotlight section.container div.right div.spotlight_button a.button_two {
        font-size: 13px;
    }
    #companies {
        padding: 40px 60px;
        background: #dedddc;
    }
    #companies ul li {
        margin-right: 31px;
        margin-bottom: 20px;
    }
    #companies ul li a span.images_container {
        width: 130px;
    }
    #about {
        padding: 40px 22px;
    }
    #about div.left {
        width: 100%;
        margin-bottom: 50px;
    }
    #about div.left p.paragraph_one {
        font-size: 15px;
    }
    #about div.left p.paragraph_two {
        margin-bottom: 12px;
        font-size: 15px;
    }
    #about div.left div.about_button a.button {
        font-size: 15px;
    }
    #about div.right {
        width: 70%;
        height: 230px;
    }
    #products section.container div.image_container {
        width: 94%;
    }
    #products section.container div.content div.top {
        width: 94%;
    }
    #products section.container div.content div.bottom h1 {
        width: 100%;
        font-size: 36px;
    }
    #products section.container div.content div.bottom p.para1 {
        font-size: 15px;
    }
    #products section.container div.content div.bottom p.para2 {
        font-size: 15px;
    }
    #products section.container div.content div.button_box a.button {
        font-size: 15px;
    }
    #products section.container div.content div.button_box {
        margin-bottom: 36px;
    }
    #products
        section.container
        div.content.last
        div.bottom
        form
        input[type="email"] {
        margin-bottom: 20px;
        font-size: 15px;
    }
    #products
        section.container
        div.content.last
        div.bottom
        form
        input[type="email"] {
        font-size: 14px;
    }
    #blog section.container div.bottom ul li div.blog_container {
        height: 200px;
    }
    footer {
        padding: 0;
    }
    footer div.image {
        display: none;
    }
}
@media all and (max-width: 480px) {
    header {
        padding: 30px 28px;
    }
    header h1.left {
        width: 34%;
    }
    #spotlight {
        padding: 40px;
    }
    #spotlight section.container div.right {
        padding-top: 0;
    }
    #spotlight section.container div.right small {
        font-size: 11px;
    }
    #spotlight section.container div.right h2 {
        font-size: 53px;
        width: 100%;
    }
    #spotlight section.container div.right p {
        font-size: 15px;
        width: 100%;
    }
    #spotlight section.container div.right div.spotlight_button a.button_one {
        font-size: 11px;
    }
    #spotlight section.container div.right div.spotlight_button a.button_two {
        font-size: 11px;
    }
    #about {
        padding: 30px 0;
    }
    #about div.left {
        margin-bottom: 8px;
    }
    #about div.left div.about_button {
        width: 130px;
        height: 41px;
    }
    #products {
        padding: 40px;
    }
    #products section.container {
        padding: 0;
    }
    #products section.container div.image_container {
        width: 100%;
    }
    #products section.container div.content div.bottom h1 {
        width: 100%;
        font-size: 29px;
    }
    #products section.container div.content div.bottom.middle h1 {
        font-size: 31px;
        width: 85%;
    }
    #products section.container div.content div.button_box {
        height: 41px;
        width: 130px;
    }
    #products section.container div.content.last div.bottom h1 {
        font-size: 33px;
    }
    #blog div.top h1 {
        font-size: 31px;
    }
    #blog {
        padding: 30px;
    }
    #blog section.container div.bottom ul li h3 {
        font-size: 19px;
    }
    #blog section.container div.bottom ul li p {
        font-size: 14px;
    }
    footer section.container div.left div.top ul li a {
        font-size: 13px;
    }
    footer section.container div.right div.item ul li a {
        font-size: 12px;
    }
}
@media all and (max-width: 360px) {
    #products section.container div.content.last div.bottom h1 {
        font-size: 28px;
    }
    #products
        section.container
        div.content.last
        div.bottom
        form
        input[type="email"] {
        font-size: 13px;
    }
    #products section.container div.content.last div.bottom form button {
        padding: 12px 18px;
    }
    #blog div.top h1 {
        font-size: 29px;
    }
    #blog section.container div.bottom ul li div.blog_container {
        height: 170px;
    }
}
